.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.field {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 40px;
  border-radius: 10px;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.1);
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.3s all;
  margin: 5px;
}
.field:hover {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
.field:focus-within {
  border-color: #ea748e;
}
input {
  width: 80%;
  height: 100%;
  padding: 0px 16px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  color: #282828;
  outline: none;
  /* box-shadow: 0px 4px 20px 0px transparent; */
  /* transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
  -webkit-appearance: none; */
}
.error {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  left: 90px;
  top: 5px;
}
.submit {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* flex-direction: row; */
  width: 40%;
  height: 40px;
  border-radius: 10px;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  background-color: #ea748e;
  transition: 0.3s all;
  margin: 5px;
}
.submit > input {
  color: white;
  width: 100%;
  cursor: pointer;
}
.submit:hover {
  background-color: rgba(234, 116, 142, 0.8);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
.fileupload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.fileupload + label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border-width: 2px;
  border-color: #ea748e;
  border-style: solid;
  background-color: white;
  transition: 0.3s all;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
.fileupload + label:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.bibtex {
  display: flex;
  justify-content: center;
  align-items: center;
}
