.doc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  top: 10px;
}

.formCon {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.nav {
  text-decoration: none;
  color: black;
  font-size: large;
}

.navButton {
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: red; */
  width: 80%;
  height: 30px;
  border-radius: 10px;
  border-width: 2px;
  border-color: #3369ff;
  border-style: solid;
  background-color: white;
  transition: 0.3s all;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.navButton:hover {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
